{% extends 'layout.html' %}

{% block content %}
  <section id='todos'>
    <h3>Editing '{{ lst.title }}'</h3>
    <form class="delete" action="/lists/{{ lst.id }}/delete" method="post">
      <button type="submit">Delete List</button>
    </form>
  </section>

  <form action="/lists/{{ lst.id}}" method="post">
    <dl>
      <dt>
        <label for="title">Enter the new title for the list:</label>
      </dt>
      <dd>
        <input type="text" id="title" name="list_title" value="{{ title }}">
      </dd>
    </dl>
    <fieldset class="actions">
      <input type="submit" value="Save">
      <a href="{{ url_for('show_list', list_id=lst.id) }}">Cancel</a>
    </fieldset>
  </form>
{% endblock %}
